/* Navbar */
.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #d7ffd1;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  align-items: center;
}

.bird-logo {
  height: 150px;
  width: 150px;
  margin-right: 10px;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.navbar-link {
  list-style-type: none;
}

.navbar-link a {
  text-decoration: none;
  padding: 10px;
  margin: 0 5px 0 5px;
  align-content: center;
  color: #5e5d5c;
  transition: all 0.2s ease-out;
  text-shadow: 2px 2px #d7ffd1;
}

.navbar-link a:hover {
  color: #32a814; /* changes the text color on hover */
  transform: scale(1.1); /* scale effect applied on hovering */
}

.navbar-search {
  margin-left: auto;
}

.navbar-search input {
  text-decoration: none;
}

.navbar-user-button {
  background-color: rgba(0,0,0,1);
  border-radius: 80px;
}

.navbar-user-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  
}

.drop-item {
  text-decoration: none;
  display: flex;
}